@model G20240408.EntidadesDeNegocio.PersonaG

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Persona</h1>

<h4>Personas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="NombreG" class="control-label"></label>
                <input asp-for="NombreG" class="form-control" />
                <span asp-validation-for="NombreG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoG" class="control-label"></label>
                <input asp-for="ApellidoG" class="form-control" />
                <span asp-validation-for="ApellidoG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoG" class="control-label"></label>
                <input asp-for="FechaNacimientoG" class="form-control" />
                <span asp-validation-for="FechaNacimientoG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoG" class="control-label"></label>
                <input asp-for="SueldoG" class="form-control" />
                <span asp-validation-for="SueldoG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusG" class="control-label"></label>
                <input asp-for="EstatusG" class="form-control" />
                <span asp-validation-for="EstatusG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
